/**
 * Custom theme for Reveal.js presentations.
 *
 * Copyright (C) 2018 Chen Hui Jing, https://www.chenhuijing.com/
 */
@import url("../../lib/font/movement/movement.css");
@import url("../../lib/font/kokoro/kokoro.css");
@import url("../../lib/font/codec-pro/codec-pro.css");
@import url("../../lib/font/asul/asul.css");
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Codec Pro", "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 2.4em;
  font-weight: normal;
  color: #333; }

::selection {
  color: #fff;
  background: #ff9b00;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #ff9b00;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #007bc3;
  font-family: "Asul", "Weibei SC", "Microsoft YaHei", "Arial Black", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: normal;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.827em; }

.reveal h2 {
  font-size: 1.999em; }

.reveal h3 {
  font-size: 1.414em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: "Dank Mono", monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: "Dank Mono", monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #ff9b00;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #990300;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #b36d00; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #ff9b00;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #ff9b00; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #ff9b00; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }

html {
  box-sizing: border-box;
  height: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.reveal .l-multiple {
  display: flex;
  justify-content: space-around; }

.reveal .l-double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center; }

.reveal .j-vert {
  writing-mode: vertical-rl; }

.reveal .j-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem; }

.reveal .j-light-bg h2,
.reveal .j-light-bg p,
.reveal .j-light-bg figcaption {
  color: black; }

.reveal .txtbg {
  background-color: rgba(255, 255, 255, 0.85);
  display: inline-block; }

.reveal .l-logo {
  height: 1em;
  margin: 0 0.25em; }

.reveal section img {
  background: none; }

.reveal em,
.reveal strong {
  color: #007bc3; }

.reveal pre {
  line-height: 1.2;
  font-size: 80%;
  box-shadow: none; }

.reveal pre code {
  border-radius: 4px;
  padding: 0.5em;
  height: max-content;
  max-height: 75vh; }

.reveal code {
  font-family: 'Dank Mono', monospace; }

.reveal blockquote {
  width: max-content;
  max-width: 80%;
  text-align: left;
  box-shadow: none;
  line-height: 1.55;
  font-size: 130%;
  position: relative;
  background: none; }
  .reveal blockquote p::before,
  .reveal blockquote p::after {
    position: absolute;
    font-size: 2.5em;
    font-family: Georgia, serif;
    color: #007bc3; }
  .reveal blockquote p::before {
    top: -0.125em;
    left: -0.5em;
    content: '\201C'; }
  .reveal blockquote p::after {
    bottom: 0;
    right: -0.3em;
    content: '\201D'; }

.reveal figure img {
  max-height: 75vh; }

.reveal figure figcaption {
  font-style: italic;
  font-size: 75%; }

.reveal img[src*="svg"] {
  max-height: 75vh; }

.reveal td {
  vertical-align: middle; }

.reveal .vfonts {
  font-family: 'Movement';
  font-variation-settings: "SPAC" var(--spac, 100), "wght" var(--wght, 100);
  font-size: 4em; }

span.emoji {
  font-family: 'Apple Color Emoji', 'Segoe UI Emoji';
  font-style: normal;
  font-size: 125%;
  display: inline-block;
  vertical-align: middle; }

span[role=img][aria-label],
span[role=img][aria-label] {
  position: relative; }

span[role=img][aria-label]:focus::after,
span[role=img][aria-label]:hover::after {
  font-size: 25%;
  font-family: "Codec Pro", "PingFang SC", "Microsoft YaHei", sans-serif;
  font-weight: 400;
  position: absolute;
  display: block;
  line-height: 1.2;
  content: attr(aria-label);
  z-index: 1;
  background: #333;
  color: #fff;
  padding: 0.25em;
  border: 1px solid #fff;
  box-shadow: 2px 2px 4px #333; }

.livecode {
  display: grid;
  grid-gap: 0.5em;
  margin: 0;
  padding: 0; }
  .livecode .result {
    max-height: 100%;
    overflow-y: scroll;
    width: 100%;
    border: 1px dashed #007bc3; }
    .livecode .result li {
      line-height: 0; }
    .livecode .result p {
      margin: 0;
      padding: 0; }
  .livecode .code {
    text-align: left;
    width: 100%;
    font-family: 'Dank Mono', monospace;
    color: #efdcbc;
    background-color: #3f3f3f;
    padding: 0.5em;
    border-radius: 0.25em;
    overflow-y: scroll;
    font-size: 75%; }

.code-editor {
  display: block;
  height: 100%;
  white-space: pre-wrap; }

.livecode-2p {
  grid-template-columns: 65% calc(35% - 0.5em);
  height: 70vh; }

.livecode-3p {
  grid-template-columns: 50% 50%;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 'a b' 'a c';
  max-height: 70vh; }
  .livecode-3p .markup {
    grid-area: b; }
  .livecode-3p .result {
    grid-area: a; }
  .livecode-3p .code {
    grid-area: c; }

.code-editor {
  display: block;
  height: 100%;
  white-space: pre-wrap; }

.intro-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(12, 2em);
  grid-template-rows: repeat(11, 2em);
  grid-template-areas: '. . . . a . . b . . . .' '. m . . . . . . . c . .' '. . . . . . . . . . . .' 'l . . . . . . . . . . d' '. . . . . . . . . . . .' 'k . . . . . . . . . . e' '. . . . . . . . . . . .' 'j . . . . . . . . . . .' '. . . . . . . . . . f .' '. . i . . . . . g . . .' '. . . . . h . . . . . .'; }
  .intro-grid span {
    font-size: 1.5em; }

.intro-grid span:first-child {
  grid-area: a; }

.intro-grid span:nth-child(2) {
  grid-area: b; }

.intro-grid span:nth-child(3) {
  grid-area: c; }

.intro-grid span:nth-child(4) {
  grid-area: d; }

.intro-grid span:nth-child(5) {
  grid-area: e; }

.intro-grid span:nth-child(6) {
  grid-area: f; }

.intro-grid span:nth-child(7) {
  grid-area: g; }

.intro-grid span:nth-child(8) {
  grid-area: h; }

.intro-grid span:nth-child(9) {
  grid-area: i; }

.intro-grid span:nth-child(10) {
  grid-area: j; }

.intro-grid span:nth-child(11) {
  grid-area: k; }

.intro-grid span:nth-child(12) {
  grid-area: l; }

.intro-grid span:nth-child(13) {
  grid-area: m; }

.intro-grid div {
  grid-row: 2 / -3;
  grid-column: 1 / -1; }
